{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf%} {% block content %}
<div class=container>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <h1>List Comments</h1>
        <hr>

    </div>
    <div class="card">
        <div class="card-body">
            {{ pitch.pitch}}
            <button class="btn btn-outline-success"><a href="/comment/new/{{ pitch.id }}">comment</a></button>


            {% for comment in comment %}
            <div class="card">
                <div class="card-body">
                    {{ comment.comment }} <br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>


{% endblock %}